<%-include('include/_header') %>

<!-- MAIN -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/" class="border-shadow">
                <span class="text-gradient"> <i class="fas fa-angle-double-left"></i> All Users </span>

            </a>
        </div>
<br><br>
        <h2>New User</h2>
        <span id ="create-msg"></span>
      
        <!-- Add User Form Section -->
        <%-include('include/_form') %>
        <!-- /Add User Form Section -->


</div> <!-- container -->

</main>

<!-- /MAIN -->


<%-include('include/_footer') %>
