<%- include("include/_header") %>

    <!-- MAIN -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/issue-new-books" class="border-shadow">
                    <span class="text-gradient">Issue New Book <i class="fas fa-user"></i> </span>

                </a>
            </div>
        


    <!-- FORM HANDELING -->
    <form action="/" method="POST">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Sr.</th>
                    <th>Name</th>
                    <th>Branch</th>
                    <th>Session</th>
                    <th>Book Name</th>
                    <th>Book ID</th>
                    <th>Issued Date</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                
            <!-- Show User Data -->
            <%- include("include/_show") %>
            <!-- /Show User Data -->
            

            </tbody>
        </table>


    </form>

    </div> <!-- container -->

</main>

    
    <!-- /MAIN -->


<%- include("include/_footer") %>
