<div class="form-group">
    <form action="/api/users" method="POST" id="add_user">
    
        <label for="name" id="name-in">Name:</label> <br>

        <input type="text" name="name" id="name" placeholder="Enter Name"> <br> <br>
    
        <label for="name" id="email-in">Email:</label> <br>
        <input type="text" name="email" id="email" placeholder="Enter Email"> <br><br>
    
        <label>Gender</label>
        <input type="radio" name="gender" value="Male">
        <lable for="gender" >Male</lable>
        <input type="radio" name="gender" value="Female">
        <lable for="gender" >Female</lable> <br> <br>
    
        <label>Status</label>
        <input type="radio" name="status" value="Active">
        <lable for="status" >Active</lable>
        <input type="radio" name="status" value="Inactive">
        <lable for="status" >Inactive</lable> <br><br>
    
        <!-- <input type="submit" id="submit-btn"> -->

        <button type="submit" id="submit-btn">Save</button>
        
    </form>
    </div>    