<div class="form-group">
    <form action="/api/issue-books" method="POST" id="add_user">
    
        <label for="name" id="name-in">Name:</label> <br>
        <input type="text" name="name" id="name" placeholder="Enter Name"> <br> <br>
    
        <label for="name" id="email-in">Branch:</label> <br>
        <input type="text" name="branch" id="email" placeholder="Enter Branch"> <br><br>
        
        <label for="name" id="email-in">Session:</label> <br>
        <input type="text" name="session" id="email" placeholder="Enter Session"> <br><br>
        
        <label for="name" id="email-in">Book:</label> <br>
        <input type="text" name="book" id="email" placeholder="Enter Enter Book Name"> <br><br>
        
        <label for="name" id="email-in">Book ID:</label> <br>
        <input type="text" name="book_id" id="email" placeholder="Enter Book Id"> <br><br>
        
        <label for="name" id="email-in">Issue Date:</label> <br>
        <input type="text" name="issue_date" id="email" placeholder="Enter Issue Date"> <br><br>
        
    
        <!-- <label>Gender</label>
        <input type="radio" name="gender" value="Male">
        <lable for="gender" >Male</lable>
        <input type="radio" name="gender" value="Female">
        <lable for="gender" >Female</lable> <br> <br>
    
        <label>Status</label>
        <input type="radio" name="status" value="Active">
        <lable for="status" >Active</lable>
        <input type="radio" name="status" value="Inactive"> 
        <lable for="status" >Inactive</lable> <br><br> -->
    
        <!-- <input type="submit" id="submit-btn"> -->

        <button type="submit" id="submit-btn">Save</button>
        
    </form>
    </div>    